<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>book</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
      <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
      <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
      <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
      <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
    </taglib>
  </jsp-config>
  
  <filter>
  	<filter-name>IsLoginFilter</filter-name>
  	<filter-class>com.book.filter.IsLoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>IsLoginFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.book.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCategoryServlet</servlet-name>
    <servlet-class>com.book.servlet.GetCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCategoryServlet</servlet-name>
    <url-pattern>/GetCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetProductServlet</servlet-name>
    <servlet-class>com.book.servlet.GetProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductServlet</servlet-name>
    <url-pattern>/GetProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPdtContentServlet</servlet-name>
    <servlet-class>com.book.servlet.GetPdtContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPdtContentServlet</servlet-name>
    <url-pattern>/GetPdtContentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartAddServlet</servlet-name>
    <servlet-class>com.book.servlet.CartAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartAddServlet</servlet-name>
    <url-pattern>/CartAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCartListServlet</servlet-name>
    <servlet-class>com.book.servlet.GetCartListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCartListServlet</servlet-name>
    <url-pattern>/GetCartListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartDelServlet</servlet-name>
    <servlet-class>com.book.servlet.CartDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartDelServlet</servlet-name>
    <url-pattern>/CartDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ToOrderCommitServlet</servlet-name>
    <servlet-class>com.book.servlet.ToOrderCommitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToOrderCommitServlet</servlet-name>
    <url-pattern>/ToOrderCommitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ToOrderListServlet</servlet-name>
    <servlet-class>com.book.servlet.ToOrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToOrderListServlet</servlet-name>
    <url-pattern>/ToOrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayOrderServlet</servlet-name>
    <servlet-class>com.book.servlet.PayOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayOrderServlet</servlet-name>
    <url-pattern>/PayOrderServlet</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>